*.log
.vscode/
.ipynb_checkpoints/
*.log
*.gexf
.DS_Store
__pycache__/
venv/
.idea/
others/



embeddings/
experiment-data/*

!experiment-data/bitcoin_alpha-train-1.edgelist
!experiment-data/bitcoin_alpha-test-1.edgelist





